@model Tipwin.Models.Player
@{
    ViewBag.Title = "LoginSuccess";

}
@Html.AntiForgeryToken()
@if (Session["korisnickoIme"] != null)
{
    @ViewBag.Success
    <h4>Hello @Session["korisnickoIme"].ToString()</h4>
    <div class="alert alert-success">@TempData["korisnickoime"]</div>
    <br />
    @Html.ActionLink("Logout", "Login", "Player")
    <br />
}
<h2>Read</h2>
    Cookie Value = @ViewData["cookie"]
    <br />
    @*@Html.ActionLink("Promjena email adrese", "ChangeEmailAddress", "Player", new
        {
            username = @Session["korisnickoIme"]
        }, null)*@
    @Html.ActionLink("Promjena email adrese", "ChangeEmailAddress")
    | @Html.ActionLink("Dodavanje dokumenta", "UploadFiles")
